/*
=============================================================================
   Minhas modificações
=============================================================================
*/

body {
    background: #FFF1D6 url(images/noise.png);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana,sans-serif;
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.place {
    background-color: #FFF;
    border-color: #CCC #999 #999 #CCC;
    border: 1px solid #CCC;
    margin-bottom: 20px;
    padding: 10px;
}

.place h2 {
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}

.place a {
    color: #2C88A7;
    font-weight: bold;
}

h1 a {
    color: #CCC;
    text-decoration: none;
}

h1 a:hover {
    color: #FFF;
}

.place img {
    border: 1px solid #7E9F19;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}

.clear {
    clear: both;
}

.footer {
    float: left;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.sidenote {
    margin-top: 100px;
    background-color: #FFFBE4;
    border: 1px solid #C9BC8F;
    float: right;
    padding: 10px;
    width: 260px;
}

.sidenote h3 {
    font-size: 14px;
    margin-top: 0;
}
.sidenote ol {
    font-size: 12px;
}

.places {
    margin-top: 100px;
    float: left;
    width: 660px;
}

section {
    height: 100px;
    margin: 5px auto;
    width: 960px;
    position: fixed;
}

h1 {
    background-color: #990000;
    color: #FFF;
    font-size: 14pt;
    left: -10px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    width: 980px;
}

h1::before {
    border-color: transparent #7C0000 #7C0000 transparent;
    border-style: solid;
    border-width: 5px;
    content: "";
    left: 0;
    position: absolute;
    top: -10px;
}

h1::after {
    border-color: transparent transparent #7C0000 #7C0000;
    border-style: solid;
    border-width: 5px;
    content: "";
    position: absolute;
    right: 0;
    top: -10px;
}